<p><%= @employee.name %> 様,</p>
<br>
<% if @documents.size > 1 %>
  <p>以下の書類の有効期限が近づいています。</p>
<% else %>
  <p><%= @documents.first.model_name.human %>の有効期限が近づいています。</p>
<% end %>
<br>
<br>
<ul>
  <% @documents.each do |document| %>
    <li><%= document.model_name.human %>: <%= document.expiration_date %></li>
  <% end %>
</ul>
<br>
<br>
<p>早めに更新手続きをお願いします!!</p>
