<h1>MyCarDocumentApp</h1>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-blue">
        <div class="card-body">
          <h5 class="card-title">社員リスト</h5>
          <p class="card-text">ご自身の部署に所属する社員が一覧で確認できます。また、社員アカウントの詳細もこちらから確認できます。</p>
          <%= link_to '社員リストへ', department_admin_employees_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
