<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div style="text-align: center;">
    <%= image_tag '404.png', align: "middle" %>
  </div>
  <div class='text-center'>
    <%= link_to '<<< 戻る', root_path, class: 'btn btn-primary' %>
  </div>
</div>
