<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div style="text-align: center;">
    <h2>サーバー内部で何らかのエラーが発生しています。</h2>
    <%= link_to '<<< Back', root_path, class: 'btn btn-primary' %>
  </div>
</div>
