.bg-custom-blue {
    background-color: #7fcdf4;
    /* 水色寄りのブルー */
}

.btn-custom-blue {
    background-color: #00a0e9;
    /* 同系色のボタン */
    color: #ffffff;
}


.btn-custom-blue:hover {
    background-color: #003894;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    /* margin-top: 0.5rem; */
}

.notice {
    display: none;
}

.notice.alert-info:not(.d-none) {
    display: block;
}

/*
.footer {
    background-color: #f8f9fa;
    /* グレーの背景 */
/* padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} */
